@{
    Layout = "~/Views/Shared/_LayoutDefault.cshtml";
}
@using PagedList.Mvc;
@model PagedList.IPagedList<Daithanh.Models.tblAgency>
@using Daithanh.Models
<div id="main">
    <div class="nVar_Product">
        <nav>@Html.Raw(ViewBag.nUrl)</nav>
    </div>


    <div id="News">

        <div id="LeftNews">
            @{Html.RenderAction("leftNewsPartial", "news");}
             

             
        </div>
        <div id="RightNews">
            <div class="nVar_News">
                <span></span><h1>Hệ thống phân phối Tân Á Đại Thành </h1>
            </div>
            @foreach (var item in Model)
            {
                <div class="Tear_News">
                    <a href="/agency/@item.Tag" title="@item.Name"><img src="@item.Images" alt="@item.Name" title="@item.Name" /></a>
                    <a href="/agency/@item.Tag" title="@item.Name">@item.Name</a>
                    <span class="date"><span class="iCon"></span>Thời gian gửi : @item.DateCreate</span>
                    <span class="des">
                        @{
                string des = Daithanh.Models.StringClass.StripHtml(item.Description);
                        }
                        @Html.Raw(des)
                    </span>
                </div>
            }
            @Html.PagedListPager(Model, page => Url.Action("listAgency", new { page = page, sortOrder = ViewBag.CurrentSortOrder, sortName = ViewBag.CurrentSortName, sortLevel = ViewBag.CurrentSortLevel }), (PagedListRenderOptions)ViewBag.ship)


        </div>
    </div>

    <div class="Clear"></div>
</div>
